


.logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding: 10px;
    border-radius: 120px;
    width: 150px;
}  

.navbar{
    background-color: rgb(145, 145, 145);
}

.navigacio{
    color: white;
}


.navigacio a{
    color: rgb(253, 253, 253);
    font-weight: bold;
}

.navigacio a:hover{
    color: #45405f;
    transition: 0.5s;
}

.kereses{
    background-color: white;
    border-style: solid;
    border-radius: 12px;
}

.kereses input{
    border-style: none;
}

.kereses button{
    border-style: none;
    background-color: rgb(255, 255, 255);
}

.kereses button:hover{
    background-color: #45405f;
    transition: 0.7s;
}


.footer-container {
    padding: 20px 16px;
    background-color: rgb(145, 145, 145);
  }
  
.footer-container a {
    color: #f5f6f7;
    font-weight: bold;
    text-decoration: none;
    
    &:hover {
      color: #45405f;
      transition: 0.7s;
    }
}
  
.footer-container ul {
    padding: 0;
    gap: 24px;
    list-style-type: none;
}

.fa-facebook:hover{
    color: #3B5998;
    transition: 0.7s;
}

.fa-instagram:hover{
    color: #c23484;
    transition: 0.7s;
}

.fa-youtube:hover{
    color:  #bb0000;
    transition: 0.7s;
}

.copyright {
    padding: 2px 0;
    text-align: center;
    background-color: #f0ecec;
}


.card {
    border: 1px solid;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}
.card h1{
    text-align: center;
}

.card h2{
    text-align: center;
}

.card:hover {
    box-shadow: 15px 15px 15px rgba(255, 0, 179, 0.1);
}

.card-header {
    background-color: #f8f9fa; 
    color: #333; 
    padding: 15px; 
    border-bottom: 1px solid #dee2e6; 
    border-radius: 10px 10px 0 0; 
}

.card-body {
    padding: 20px; 
}

.card h2{
    font-size: medium;
}

.card p{
    font-weight: lighter;
}

.card-title {
    text-align: justify;
    font-size: large;
    font-weight: bolder; 
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 20px;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: auto;
}

.card button{
    border: none;
    font-weight: bold;
    background-color: rgb(145, 145, 145);
}

.card button:hover{
    background-color: rgb(145, 145, 145);
}
  
.dropdown{
    padding: 5px;
}

.dropdown button{
    border: none;
    background-color: rgb(145, 145, 145);
    border-color: none;
    font-weight: bold;
}

.dropdown button:hover{
    background-color: rgb(145, 145, 145);
    transition: 0.4s;
}


.dropdown a{
    font-weight: bold;
}

.dropdown-menu a:hover{
    background-color:  rgb(145, 145, 145);
    transition: 0.6s;
}